a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-blue-hard: #0075c3;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-orange-hard: #da8300;
    --color-red: #ff0000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    --font-micro2: 12px;
    --font-micro3: 10px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 250ms;

    --border-radius: 3px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    display: flex;
}

.hidden {
    display: none;
}

/* Navbar */
#navbar {
    background-color: var(--color-white);
    border-bottom: solid 1px var(--color-light-grey);
    position: sticky;
    top: 0;
    z-index: 99;
    height: 55px;
    text-align: center;
}

.navbar__wrap {
    display: flex;
    align-items: center;
    max-width: 900px;
    height: 55px;
    margin: 0 auto;
}

.navbar__logo {
    flex-grow: 1;
}

.navbar__search {
    flex-grow: 5;
}

.navbar__search input {
    border: solid 1px var(--color-light-grey);
    border-radius: var(--border-radius);
}

.navbar__search input {
    text-align: center;
    width: 215px;
    height: 28px;
}

.navbar__menu__wrap {   
    display: flex;
}

.menu {
    margin: 0 10px;
}

.menu i {
    cursor: pointer;
}

.userInfo__user {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
}

/* Section */
#section__root {
    display: flex;
}

#section {
    background-color: var(--color-light-white);
    flex-grow: 5;
}

.section__wrap {
    max-width: 600px;
    margin: 0 auto;
}

/* Section Story */
.section__story {
    background-color: var(--color-white);
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius);
    margin: 30px 0;
    padding: 15px;
    display: flex;
    overflow: hidden;
}

.story__lists {
    margin: 0 11px;
}

.story__image img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.story__userName {
    font-size: var(--font-micro2);
}


/* Section Content */
.section__content {
    margin-bottom: 30px;
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius);
}

/* Section Content Header */
.content__header {
    background-color: var(--color-white);
}

.content__header__wrap {
    display: flex;
    align-items: center;
    padding: 16px;
    height: 60px;
}

.header__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__userImage img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.header__userNamelocation {
    margin-left: 16px;
    text-align: left;
}

.header__userName {
    font-size: var(--font-micro);
}

.header__location {
    font-size: var(--font-micro2);
}

.header__menu {
    cursor: pointer;
}


/* Section Content Images */
.content__images {
    display: flex;
    overflow: hidden;
    position: relative;
}

.content__images img {
    min-width: 100%;
    height: 500px;
}

.content__image__arrorLeft,
.content__image__arrorRight{
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.content__image__arrorRight {
    right: 0%;
    margin-right: 7px;
}

.content__image__arrorLeft {
    margin-left: 7px;
}




/* Section Content Image Count */
.section__image__counts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.image__count {
    margin: 0 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-light-grey);
}

.image__count.action {
    background-color: var(--color-blue-hard);
}



/* Section Content Bottim */
/* Bottom Button */
.section__bottom {
    position: relative;
    top: -30px;
}

.section__bottom__wrap {
    padding: 0 20px;
}

.bottom__buttons {
    display: flex;
}

.bottom__buttons div {
    cursor: pointer;
}

.button__comments {
    margin: 0 10px;
}

.button__like {
    position: absolute;
}

.button__unbookmark,
.button__bookmark {
    position: absolute;
    right: 20px;
}

/* Bottim Like Count */
.bottom__likeCount {
    font-size: var(--font-micro);
    position: relative;
    top: 8px;
}

/* Bottom Comment */
.bottom__comment,
.bottom__time,
.bottom__replyLists,
.bottom__replyInput {
    position: relative;
}

.bottom__comment {
    top: 15px;
    font-size: var(--font-micro);
}

.comment__userName {
    font-weight: var(--weight-bold);
    display: inline-block;
}

.comment__content {
    /* background-color: var(--color-pink); */
}

/* Bottom Reply */
.bottom__replyLists {
    top: 20px;
    margin: 10px 0;
}

.bottom__reply {
    font-size: var(--font-micro);
}

.reply__userName {
    font-weight: var(--weight-bold);
}

/* Botton Time */
.bottom__time {
    font-size: var(--font-micro3);
    top: 20px;
}

/* Bottom Reply Input */
.bottom__replyInput {
    top: 30px;
    margin-bottom: 10px;
}


/* Aside */
#aside {
    flex-grow: 1;
}